body {
    font-family: Arial, sans-serif;
    background-color: #ed2222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 410px;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
}


button {
    background: #c41717;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 400px;
}

button:hover {
    background: #fe1d1d;
}

fieldset {
    width: 90%;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    align-items: center;
}

fieldset label {
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1000;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}


.error {
    color: #ff0000;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}